# --- Julia files

# Project files
/Project.toml
**/Manifest.toml

# Coverage.jl files
*.jl.*.cov
*.jl.*.mem

# --- Package files

/LICENSE

# --- Miscellaneous

# autoenv
.env

# vim
.*.swp

# macOS
.DS_Store*
